*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:yellow;
}
.heading{
    text-align: center;
}
p{
    font-size: x-large;
    padding: 10px;
    font-weight: 600;
}
pre{
    font-size: larger;
    font-weight: 500;
}